<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/css/style.css">
    <link href="../../src/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="category-info flex justify-between items-center max-w-1654px mx-auto my-0 mb-20">
        <div class="country text-center max-w-80">
            <img src="../../src/img/kr.png" alt="" class="max-w-80 border-2 border-black rounded-2xl mb-5">
            <p class="text-2xl font-bold">Корейское авто</p>
        </div>
        <ul class="marks grid grid-cols-5 gap-x-14">
            <li class="mark text-center">
                <img src="../../src/img/kia.png" alt="" class="max-w-52 w-full mx-auto my-0 h-24">
                <p class="font-bold">Kia</p>
            </li>
            <li class="mark text-center">
                <img src="../../src/img/hyndai.png" alt="" class="max-w-52 w-full mx-auto my-0 h-24">
                <p class="font-bold">hyndai</p>
            </li>
            <li class="mark text-center">
                <img src="../../src/img/daewoo.png" alt="" class="max-w-52 w-full mx-auto my-0 h-24">
                <p class="font-bold">Daewoo</p>
            </li>
            <li class="mark text-center">
                <img src="../../src/img/ssang_yong.png" alt="" class="max-w-52 w-full mx-auto my-0 h-24">
                <p class="font-bold">Ssang Yong</p>
            </li>
            <li class="mark text-center">
                <img src="../../src/img/genesis.png" alt="" class="max-w-52 w-full mx-auto my-0 h-24">
                <p class="font-bold">genesis</p>
            </li>
        </ul>
    </div>
</body>
</html>